<h1>Проверка</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Имя" name="first_name">
    <input type="text" placeholder="Фамилия" name="last_name">
    <input type="file" name="ava" id="file" onchange="return fileValidation()">
    <div id="imagePreview"></div>
    <button type="submit">Отправить</button>
</form>
<script src="/javascripts/main.js"></script>